<?xml version="1.0"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" 
	backupGlobals="true" 
	bootstrap="./init.php" 
	colors="false" 
	processIsolation="false" 
	stopOnError="false" 
	stopOnFailure="false" 
	stopOnIncomplete="false" 
	stopOnSkipped="false" 
	stopOnRisky="false" 
	timeoutForSmallTests="1" 
	timeoutForMediumTests="10" 
	timeoutForLargeTests="60" 
	cacheDirectory=".phpunit.cache" 
	backupStaticProperties="false" 
	requireCoverageMetadata="false">
  <coverage>
    <include>
      <directory>/htdocs/practicas-sara/</directory>
    </include>
    <exclude>
      <directory>/htdocs/practicas-sara/tests/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Main">
      <directory suffix=".php">./test_files/</directory>
    </testsuite>
  </testsuites>
</phpunit>

